*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f5f5f5;
}

header{
background:#222;
padding:15px;
position:fixed;
width:100%;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
width:90%;
margin:auto;
}

.logo{
color:white;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
color:white;
text-decoration:none;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#4facfe,#00f2fe);
text-align:center;
color:white;
}

.hero h1{
font-size:50px;
}

.hero span{
color:yellow;
}

.hero button{
margin-top:20px;
padding:12px 25px;
font-size:18px;
border:none;
background:white;
cursor:pointer;
border-radius:5px;
}

section{
padding:80px;
}

h2{
text-align:center;
margin-bottom:30px;
}

.card{
background:white;
padding:20px;
margin:20px;
border-radius:10px;
box-shadow:0px 0px 10px gray;
}

.skills{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
}

.skills div{
background:#4facfe;
color:white;
padding:20px;
text-align:center;
border-radius:10px;
font-size:18px;
}

footer{
background:#222;
color:white;
text-align:center;
padding:20px;
}
